<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clock Angle</title>
    </head>
    <body>
        <h1>Clock Angle</h1>
        <form method="POST" action="/new">
            <input type="text" maxlength="5" name="userClock" id="userClock" placeholder="Enter Time">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
